

.play-box {
  border: 10px solid blue;
  display: block;
  padding: 5px;
  border-radius: 50%;
}

.fa-star-o {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  border-radius: 50%;
  border: 10px solid red;
}
