.play-box {
  border: 3px @primaryDark solid;
  display: block;
  padding: 10px;  
  text-align: center;
  &:hover {
    color: @gray;
  }
  .Round;
}

.play-box-container {
  margin: 0 90px 90px 90px;
}

.game-container {
  margin: 40px 90px 90px 90px;
  border: 3px @primaryDark solid;
  overflow: hidden;
  position: relative;
  padding: 10px;
  padding-bottom: 60px;
  .Round;
  font-size:20px;
}

.col-lg-12 {
  margin: 50px 0 70px 0;
}

