<div class="row">
  <ul>
    <li class="dropdown">
      <a class="btn dropdown-toggle">
        Click me!
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in dropdownDemoItems">
          <a>{{choice}}</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <ul>
    <li class="dropdown">
      <a class="btn dropdown-toggle">
        Click me, too!
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="person in people">
          <a>{{person}}</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <cm-scrabbleize></cm-scrabbleize>
</div>
