<div class="row">

	<div class="col-md-6">
		<label>Score me:</label>
		<div class="controls">
			<input type="text" ng-model="scrabble.word" ng-change="scrabble.scoreWord()">
			<label>{{scrabble.wordScore}}</label>
		</div>

		<br/>
		<button class="btn btn-primary" ng-click="scrabble.clearWord()">
			Clear
	</div>

	<div class="col-md-6">
		<table class="table table-bordered">
			<th>Letter</th>
			<th>Point Value</th>
			<th>Bonus?</th>

			<tbody>
				<tr ng-repeat="letter in scrabble.word track by $index">
					<td>{{letter}}</td>
					<td>{{scrabble.getLetterValue(letter)}}</td>
					<td>{{scrabble.word}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

