<div class="col-lg-12">
	<strong>
	<p style="margin-left:100px; margin-right:100px;">
		A <a href="http://en.wikipedia.org/wiki/Spoonerism">spoonerism</a> is an error in speech or deliberate play on words
		in which corresponding consonants, vowels, or morphemes are switched (see metathesis) between two words in a phrase.

		<br>
		<br>
		
		My implentation merely swaps the beginning letters, but making it smarter is on my to-do list!
	</p></strong>
</div>

<div class="game-container">
	<div class="col-md-6">
		<form id="spoonform">
			<input type="text" ng-model="spoon.wordOne">
			<input type="text" ng-model="spoon.wordTwo">

			<br/>
			<br/>
			
			<button class="btn btn-primary" ng-click="spoon.spoonerize()">
				Spoonerize
			</button>
		</form>

	</div>
	<div class="col-md-6">
		<label>Your spoonerism: &#9; {{spoon.output}}</label>
	</div>
</div>