<div class="container">
	<div class="row cm-border">
		<strong>
		<p style="text-align:center">
			A <a href="http://en.wikipedia.org/wiki/Spoonerism">spoonerism</a> is an error in speech or deliberate play on words
			in which corresponding consonants, vowels, or morphemes are switched (see metathesis) between two words in a phrase.

			<br>
			<br>

			My implentation merely swaps the beginning letters, but making it smarter is on my to-do list!
		</p></strong>

		<div class="col-lg-6">
			<form id="spoonform">
				<input type="text" ng-model="spoon.wordOne">
				<input type="text" ng-model="spoon.wordTwo">

				<br/>
				<br/>

				<button class="btn btn-primary" ng-click="spoon.spoonerize()">
					Spoonerize
				</button>
			</form>

		</div>
		<div class="col-lg-6">
			<label style="font-size:50px;">{{spoon.output}}</label>
		</div>
	</div>
</div>

